<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <img src="logo.png">
    <h1> <a href="/newTask">Add New Task</a> 
        <a href="/listTasks">List All Task</a>
        <a href="/deleteTask">Delete Task</a>
        <a href="/updatetask">Update Tasks</a>
        <a href="/addDeveloper">Add New Developer</a>
        <a href="/listDevelopers">List All Developers</a></br>
        <a href="/deleteCompletedTasks">Delete Completed Tasks</a>
    </h1>
    </br>
</body>
</html>