<html>
<head>
    <link rel="stylesheet" href="styles.css">
    <style>
        table,th,td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1> <a href="http://localhost:8080">Home</a> 
        <a href="http://localhost:8080/newtask">Add New Task</a>
    </h1>
    </br>
    <h3>The available cars are:
        <table>
            <tr>
                <td>Name</td>
                <td>Due Date</td>
                <td>Description</td>
            </tr>
            <% for ( var i =0; i< db.length;i++){ %>
                <tr>
                    <td>
                        <%= db[i].taskname %>
                    </td>
                    <td>
                        <%= db[i].taskdue %>
                    </td>
                    <td>
                        <%= db[i].taskdesc %>
                    </td>
                </tr>
                <% }%>
    </h3>
</body>
</html>