<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
        <h1> <a href="http://localhost:8080">Home</a> 
            <a href="http://localhost:8080/listTasks">List All Task</a>
        </h1>
    <form action="/newtask" method="POST">
        Task Name:
        <input type="text" name="taskname" /> </br>
        Task Due:
        <input type="text" name="taskdue" /> </br> 
        Task Description:
        <input type="text" name="taskdesc" /> </br>
        <button>Submit</button>
    </form>
</body>
</html>